.aside-navigation {
   position: fixed;
   width: var(--close-width);
   height: 100%;
   background-color: var(--page-bgc);
   border-right: 1px solid #1ec144;
   transition: .5s;

   z-index: 10;
}

.aside-navigation .wrapper {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
}

.logo {
   margin: 35px 0 50px;
}

.navigation {
   flex-grow: 1;

   display: flex;
   flex-direction: column;
}

.navigation a, .logo {
   width: var(--open-width);
   display: flex;
   align-items: center;
   font-size: 2.5rem;
}

.navigation p, .logo p {
   font-size: 1.6rem;
}

.aside-navigation .icon {
   width: var(--close-width);
}

.logout {
   display: flex;
   align-items: center;

   width: var(--open-width);
   color: #e33636;
   margin-bottom: 60px;
}

.logout p {
   font-size: 1.6rem;
   font-weight: bold;
}

.logout svg {
   font-size: 3rem;
   transform: rotate(180deg);
}

.expand {
   position: absolute;
   top: 50%;
   right: 0;
   height: 76px;
   width: 38px;
   transform: translate(100%, -50%);

   border-top-right-radius: 77px;
   border-bottom-right-radius: 77px;
   border: 1px solid #1ec144;

   display: flex;
   justify-content: center;
   align-items: center;

   cursor: pointer;
   background-color: var(--page-bgc);
   color: #1ec144;
}

.expand svg {
   position: absolute;
   transform: translate(-15%, 0);
   font-size: 3.5rem;
}

.aside-navigation.open {
   width: var(--open-width);
}