.table .input-container {
   display: flex;
   align-items: center;
}

.container-to-copy {
   width: 100%;
   padding-right: 20px;
}

.password div {
   flex-basis: 150px;
}

.password button {
   color: var(--green);
   font-size: 1.8rem;
   margin: 0 10px;
}

.table .input-container input {
   background-color: transparent;
   color: inherit;
   font-family: inherit;
   width: 100%;
}

.table .input-container input[type='password'] {
   font-family: Verdana;
   letter-spacing: 0.125em;
}

.table .input-container input:focus {
   outline: none;
}

.table .input-container input:not([disabled]) {
   border-bottom: 1px solid #bcbfcf;
   cursor: text;
}

.table .input-container input {
   cursor: pointer;
}

.speech-bubble {
   text-align: center;
   position: absolute;

   transform: translate(0, -100%);

   padding: 9px 15px;

   border-radius: 4px;

   background-color: white;
   color: black;
   font-size: 1.6rem;
   font-weight: bold;

   animation: speech-bubble both;
}

.speech-bubble svg {
   padding-right: 6px;
}

.speech-bubble::after {
   content: '';
   border: 1rem solid transparent;
   border-width: 1rem .5rem 0 .5rem;
   border-top-color: white;
   margin-left: -2rem;
   position: absolute;
   top: 100%;
   left: 50%;
}

@keyframes speech-bubble {
   0% {
      opacity: 0;
   }

   25% {
      opacity: 1;
   }

   75% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}