.pagination {
   display: flex;
   justify-content: center;
   align-items: center;

   margin-top: 32px;
}

.pagination a {
   margin: 0 15px;
   font-size: 1.6rem;
   color: white;
}

.pagination .arrow {
   font-size: 3rem;
   margin: 0 10px;
}