@import url('http://fonts.cdnfonts.com/css/neo-latina');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
}

:root {
   font-size: 10px;
   --page-bgc: #070A1A;
   --green: #1ec144;
   --green-opacity: rgba(30, 193, 68, 0.25);
}

body {
   height: 100vh;
   max-height: 1000px;
   color: white;
   background-color: var(--page-bgc);
   font-family: 'Titillium Web', sans-serif;

   overflow-x: hidden;
}

a {
   color: inherit;
   text-decoration: none
}

button {
   background-color: transparent;
   cursor: pointer;
}

#root {
   height: 100%;
}

* {
   scrollbar-width: auto;
   scrollbar-color: #2c2f3c #070a1a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 16px;
}

*::-webkit-scrollbar-track {
   background: #070a1a;
}

*::-webkit-scrollbar-thumb {
   background-color: #2c2f3c;
   border-radius: 10px;
   border: 3px solid #070a1a;
}